<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.WaMainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="wa-access-denied">
                            <RadzenCard>
                                <RadzenText TextStyle="TextStyle.H4">Access Denied</RadzenText>
                                <RadzenText>You don't have permission to access this page.</RadzenText>
                            </RadzenCard>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="typeof(Layout.WaMainLayout)">
                <div class="wa-not-found">
                    <RadzenCard>
                        <RadzenText TextStyle="TextStyle.H4">Sorry, there's nothing at this address.</RadzenText>
                    </RadzenCard>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
